extends base.pug

block content
    div#videoContainer(data-id=video._id)
        video(src="/" + video.fileUrl).video-watch
        div#videoControls.videoControls
            div.wrap
                input(type="range", step="0.5", value=0, min="0")#timeline.videoControls__timeline
            div.videoControls__play
                span#play.videoControls__playBtn 
                    i.fas.fa-play 
                div.videoControls__time
                    span#currentTime 0:00
                    span  / 
                    span#totalTime 0:00
            div
            div.videoControls__volume
                input(type="range", step="0.05",min="0", max="1")#volume 
                span#mute 
                    i.fas.fa-volume-up

                span#fullScreen
                    i.fas.fa-expand
    //-
        div.video-desc 
            p=video.title
            p=video.description
            small=video.createdAt
            br 
            small Uploaded by 
                a(href=`/users/${video.owner._id}`)=video.owner.name
            hr
            if String(video.owner._id) === String(loggedInUser._id)
                a(href=`${video.id}/edit`) Edit Video &rarr;
                br
                a(href=`${video.id}/delete`) Delete Video &rarr;
block scripts 
    script(src="/static/js/videoPlayer.js")

